 body,   html {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.characterDiv img {
    max-width: 100%;
}

.gameCharacter {
    margin: 1%;
}

.gameCharacter:hover {
	color: #1babc6;
}

h3 {
    color: white;
}

p {
    color: white;
}

@media (max-width: 600px) {
    body,
    html {
        background: url(../images/phone-bg.jpg) no-repeat center center fixed;
    /*background-size: 100%;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

    }
